<html>
  <head>
    <style>
{{ mailCSS }}
    </style>
  </head>
  <body>
  <h2>
    Thanks for registering.
  </h2>
  <p>
    Please confirm your email:
    <a href="{{{ tokenLink }}}" class="btn btn-confirm">Confirm</a>
  </p>
  </body>
</html>
