<html>
  <head>
    <style>
{{ mailCSS }}
    </style>
  </head>
  <body>
    <h2>
      Identity Change
    </h2>
    <p>
      Please confirm your identity change:
      <a href="{{{ tokenLink }}}" class="btn btn-confirm">Confirm</a>
    </p>
  </body>
</html>
