<html>
  <head>
    <style>
{{ mailCSS }}
    </style>
  </head>
  <body>
    <h2>
      You requested a password change
    </h2>
    <p>
      <a href="{{{ tokenLink }}}" class="btn btn-confirm">Change password</a>
    </p>
  </body>
</html>
